.backround {}



.display {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
    flex: 0 0 30%;

    .card {
        height: 350px;
        border-radius: 14px;
        // z-index: 1111;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .bg {

        width: 350px;
        height: 350px;
        border-radius: 20px;
        overflow: hidden;
        outline: 2px solid #ffcf40;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        background-color: rgb(0, 0, 0);

        @media(max-width:500px) {
            width: 100%;
        }

        img {
            width: 300px;
            height: 200px;
            border-radius: 20px;
        }

        h2 {
            font-size: 20px;
            font-family: 'Courier New', Courier, monospace;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            color: #ffcf40;
        }

        span {
            cursor: pointer;
            color: #ffcf40;

        }

        p {
            font-size: 14px;
            font-family: 'Courier New', Courier, monospace;
            text-align: center;
            cursor: pointer;
            color: #ffcf40;


        }
    }


}