.header {
    display: flex;
    justify-content: center;

    .headerDiv {
        width: 90%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            border-radius: 20px;
            width: 90px;
            height: 50px;
        }

        .twoButton {
            display: flex;
            gap: 20px;

            button {
                width: 90px;
                height: 50px;
                border-radius: 20px;
                border: 1px solid #ffcf40;
                background: transparent;
                float: left;
                background-color: transparent;
                color: #ffcf40;
                font-size: 20px;
                font-family: 'Courier New', Courier, monospace;
                display: flex;
                gap: 5px;
                align-items: center;
                justify-content: center;

                .count {
                    color: #ffcf40;
                    font-size: 20px;
                    font-family: 'Courier New', Courier, monospace;
                }
            }
        }


    }

}